{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <meta name=description content="Cepre Tareas">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <title>Recuperar contraseña</title>
  <link rel="stylesheet" media="all" href="{% static 'accounts/css/bootstrap/bootstrap.min.css' %}" />
  <link rel="stylesheet" media="all" href="{% static 'accounts/css/bootstrap/bootstrap-theme.min.css' %}" />
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="{% static 'accounts/js/bootstrap/bootstrap.min.js' %}"></script>
</head>
<body>
  <div id="rp_form" class="container">
    <div class="row">
      <span class="col-xs-12">
        <h1> Volver a establecer contraseña </h1>
      </span>
    </div>
    <div class="row">
      <div class="col-xs-6">Nueva Contraseña</div>
      <div class="col-xs-6">
        <input id="new-password" type="password">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">Confirmar Contraseña</div>
      <div class="col-xs-6">
        <input id="confirm-new-password" type="password">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input id="btn-update-password" type="button" value="Establecer Contraseña">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="msg"></div>
      </div>
    </div>
  </div>

  <!-- <form>
  </form> -->
  <script src="{% static 'accounts/js/recover.js' %}"></script>
</body>
</html>
